/* h1 {
    font-size: 50px;
    margin-left: 450px;
    margin-top: 40px;
}

h2 {
    font-size: 30px;
    margin-left:430px;
    margin-top: 30px;
  
    
}


.save {
    margin-left: 1200px;
    float: right;
}

#time9 {
    font-size: 20px;
    background: teal;
    padding-bottom: 10px;
    padding-top: 10px;
    border-style: solid;
    border-width: 1px;
    width: 800 px;
}

#time10 {
    font-size: 20px;
    background: teal;
    padding-bottom: 10px;
    padding-top: 10px;
    border-style: solid;
    border-width: 1px;
    width: 800 px;
}

#time11 {
    font-size: 20px;
    background: teal;
    padding-bottom: 10px;
    padding-top: 10px;
    border-style: solid;
    border-width: 1px;
    width: 800 px;
}

#time12 {
    font-size: 20px;
    background: teal;
    padding-bottom: 10px;
    padding-top: 10px;
    border-style: solid;
    border-width: 1px;
    width: 800 px;
}

#time1 {
    font-size: 20px;
    background: teal;
    padding-bottom: 10px;
    padding-top: 10px;
    border-style: solid;
    border-width: 1px;
    width: 800 px;
}

#time2 {
    font-size: 20px;
    background: teal;
    padding-bottom: 10px;
    padding-top: 10px;
    border-style: solid;
    border-width: 1px;
    width: 800 px;
}

#time3 {
    font-size: 20px;
    background: teal;
    padding-bottom: 10px;
    padding-top: 10px;
    border-style: solid;
    border-width: 1px;
    width: 800 px;
}

#time4 {
    font-size: 20px;
    background: teal;
    padding-bottom: 10px;
    padding-top: 10px;
    border-style: solid;
    border-width: 1px;
    width: 800 px;
}

#time5 {
    font-size: 20px;
    background: teal;
    padding-bottom: 10px;
    padding-top: 10px;
    border-style: solid;
    border-width: 1px;
    width: 800 px;
}

.past {
background-color: gray;
color: black;
}

.present {
    background-color: red;
    color: white;
}

.future {
    background-color: green;
    color: white;
} */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  










